@import 'common';


.step-btn-group {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.el-step__title {
  line-height: 1.5;
  margin-top: 5px;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom-color: $table-border-color;
}

.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right-color: $table-border-color;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: $table-border-color;
}

.el-table--border,
.el-table--group {
  border-color: $table-border-color;
}

.el-table__fixed-right::before,
.el-table__fixed::before {
  background-color: $table-border-color;
}

.el-table thead {
  color: #333;
}

.report-item {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0;

  +.report-item {
    margin-top: 40px;
  }

  .report-item__header {
    border: 1px solid $table-border-color;
    border-bottom: 0;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .cost-box {
    padding: 12px;
    text-align: center;
    border: 1px solid $table-border-color;
    border-top: 0;
  }
}

.report-team-info {
  font-size: 14px;
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  li {
    display: inline-block;
    margin-right: 15px;
  }
}


.check-wrap {
  .el-dialog {
    max-width: 1100px;
    width: 90%;
    height: 80vh;
    margin: 10vh auto 0 !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .el-dialog__body {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }
}

.common-info {
  .el-input__inner {
    border: none;
  }
}

.container-1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.el-dialog__body {
  padding: 20px;
}

.clearfix:after {
  /*伪元素是行内元素 正常浏览器清除浮动方法*/
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}


.ql-toolbar.ql-snow .ql-formats {
  border-right: 1px solid #c1c1c1;
  padding-right: 7.5px;
  margin-right: 7.5px !important;

  &:last-child {
    margin-right: 0;
    border-right: none;
  }
}